<script>
  import { Content, Grid, Row, Column } from 'carbon-components-svelte';
  import Ui from '$lib/components/Ui.svelte';
  import { PUBLIC_ENV } from '$env/static/public';
  import { VERSION } from '@sveltejs/kit';
  import { onMount } from 'svelte';

  onMount(async () => {
    const paragraphs = document.querySelectorAll('.sect3 > .paragraph > p');
    for (const paragraph of paragraphs) {
      paragraph.setAttribute('lang', 'dyu');
    }

    const headwords = document.querySelectorAll('.sect3 > h4');
    for (const headword of headwords) {
      headword.setAttribute('lang', 'dyu');
    }
    const dtExamples = document.querySelectorAll('dt.hdlist1');
    for (const dtExample of dtExamples) {
      dtExample.setAttribute('lang', 'dyu');
    }
  });
</script>

<svelte:head>
  <meta name="generator" content={`SvelteKit ${VERSION}`} />
  {#if PUBLIC_ENV === 'PROD'}
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ELBQP8ENGX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-ELBQP8ENGX');
    </script>
  {/if}
</svelte:head>
<Ui />

<Content>
  <Grid>
    <Row as section>
      <Column lg={{ span: 12, offset: 2 }} md={{ span: 16 }}>
        <slot />
      </Column>
    </Row>
  </Grid>
</Content>

<style lang="postcss">
  @import '@fontsource/radio-canada/latin-400';
  @import '@fontsource/radio-canada/latin-ext-400';
  @import '@fontsource/radio-canada/latin-600';
  @import '@fontsource/radio-canada/latin-ext-600';
  @import '../assets/css/doc-custom.css';
  @import '../assets/css/global.css';
</style>
