#toc.dico {
  display: none;
}

:is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 3.5rem;
}

/*h3 {*/
/*  font-size: 3rem;*/
/*}*/
/**/
/*.sect3 {*/
/*  margin-left: 1rem;*/
/*}*/
/**/
/*.sect3 > .ulist {*/
/*  margin-left: 2.5rem;*/
/*}*/
/**/
/*ul.none > li > .dlist {*/
/*  margin-left: 0.3rem;*/
/*}*/
/**/
/*dl > dt.hdlist1 {*/
/*  text-indent: -0.5rem;*/
/*  padding-left: 0.5rem;*/
/*  font-weight: bold;*/
/*  font-size: 16px;*/
/*}*/

/*dl > dd {*/
/*  margin-left: 0.5rem;*/
/*  text-indent: -0.5rem;*/
/*  padding-left: 0.5rem;*/
/*}*/

/*.sect3 > .ulist > .none {*/
/*  margin-left: 1rem;*/
/*}*/
/**/
/*.sect3 > .olist > .arabic {*/
/*  margin-left: 4rem;*/
/*}*/
/**/
/*.arabic ol {*/
/*  list-style: decimal;*/
/*}*/
/**/
/*h4 {*/
/*  padding-top: 0.5rem;*/
/*  font-weight: bold;*/
/*}*/
/**/
/*@media screen and (max-width: 800px) {*/
/*  #header {*/
/*    display: none;*/
/*  }*/
/*}*/
