body {
  font-size: 120%;
  font-family: 'Radio Canada', 'Noto Sans', system-ui, sans-serif;
}

h3 {
  margin-left: 0rem;
  font-size: 3rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-left: 1rem;
  line-height: 1.4;
}

section.definition {
  margin-left: 0rem;
}

ul.pos {
  margin-top: 0.3rem;
}

ol.def {
  margin-top: 1rem;
}

article.dl {
  margin-top: 1rem;
}

.spv {
  margin-left: 1rem;
}

li.gr {
  padding-top: 0.3rem;
  margin-left: 2.3rem;
}

ol.def {
  list-style: decimal;
}

ol.def,
ul.def {
  margin-left: 1.5rem;
}

ol.def li,
ul.def li {
  padding-top: 0.5rem;
}

ol.def li {
  list-style-position: inside;
}

dt {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-top: 0.2rem;
  text-indent: 1.5rem;
  line-height: 1.5;
}

dd {
  font-style: italic;
  text-indent: 2rem;
}

.bx--structured-list {
  margin-bottom: 0 !important;
}

#charmenu {
  display: none;
}

.bx--inline-notification--warning,
.bx--inline-notification--warning-alt {
  padding-top: var(--cds-spacing-06);
  margin-left: 50%;
  width: 10rem;
}

.bx--inline-notification__details {
  display: none;
}
