.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "head"
    "main";
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  grid-area: head;
  z-index: var(--z-index-navbar);
  width: 100%;
}

main {
  margin: 0;
  grid-area: main;
  display: flex;
  flex-flow: column;
}
