/* radio-canada-latin-300-normal */
@font-face {
  font-family: 'Radio Canada';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/fonts/radio-canada-latin-300-normal.woff2) format('woff2'), url(/fonts/radio-canada-latin-300-normal.woff) format('woff');
}

/* radio-canada-latin-400-normal */
@font-face {
  font-family: 'Radio Canada';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/radio-canada-latin-400-normal.woff2) format('woff2'), url(/fonts/radio-canada-latin-400-normal.woff) format('woff');
}

/* radio-canada-latin-500-normal */
@font-face {
  font-family: 'Radio Canada';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/radio-canada-latin-500-normal.woff2) format('woff2'), url(/fonts/radio-canada-latin-500-normal.woff) format('woff');
}

/* radio-canada-latin-600-normal */
@font-face {
  font-family: 'Radio Canada';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/radio-canada-latin-600-normal.woff2) format('woff2'), url(/fonts/radio-canada-latin-600-normal.woff) format('woff');
}

/* radio-canada-latin-700-normal */
@font-face {
  font-family: 'Radio Canada';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/radio-canada-latin-700-normal.woff2) format('woff2'), url(/fonts/radio-canada-latin-700-normal.woff) format('woff');
}
