html {
  /* colors */
  --color-primary: var(--cds-ui-02);
  --color-secondary: var(--teal-400);
  --color-nav-primary: var(--blue-40);
  --color-accent: var(--cyan-200-hover);
  --color-accent-light: var(--cyan-200);
  /* utils */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  /* nav */
  /* admonitions */
  --caution-color: #ffb784; /* orange-30 */
  --caution-on-color: var(--gray-7);
  --important-color: #be95ff; /* purple-40 */
  --important-on-color: var(--gray-7);
  --note-color: #82cfff; /* cyan-30 */
  --note-color: var(--cyan-300); /* cyan-30 */
  --note-on-color: var(--gray-7);
  --tip-color: #3ddbd9; /* teal-30 */
  --tip-color: var(--teal-300); /* teal-30 */
  --tip-on-color: var(--gray-7);
  --warning-color: #ff7eb6; /* magenta-40 */
  --warning-on-color: var(--gray-7);
  /* doc */
  --doc-font-color: var(--cds-text-01);
  --doc-icon-filter: invert(14.5%); /* matches #242424 */
  --doc-font-size: inherit;
  --doc-font-size--desktop: var(--font-size-fluid-0);
  --doc-line-height: 1.3;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --doc-margin--desktop-large: 0 3rem;
  --heading-font-color: var(--cds-text-01);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--cds-link-primary);
  --link-hover-font-color: var(--blue-40);
  --link-unresolved-font-color: var(--important-color);
  --link-unresolved-hover-font-color: #da1e28;
  --abstract-background: var(--cds-ui-02);
  --abstract-font-color: var(--cds-text-02);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--cds-ui-02);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--cds-text-02);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--cds-ui-02);
  --example-border-color: var(--gray-6);
  --kbd-background: var(--cds-ui-02);
  --kbd-border-color: var(--surface-4);
  --pre-background: var(--cds-ui-02);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--cds-text-02);
  --quote-background: var(--cds-ui-02);
  --quote-border-color: var(--cyan);
  --quote-font-color: var(--cds-text-02);
  --quote-attribution-font-color: var(--text-3);
  --sidebar-background: var(--cds-ui-03);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--cds-ui-03);
  --table-footer-background: var(--cds-ui-02);

  /* social media colors */
  --facebook-color: #3b5998;
  --github-color: #171515;
  --gitlab-color: #fca326;
  --google-color: #dd4b39;
  --linkedin-color: #0e76a8;
  --rss-color: #ee802f;
  --twitter-color: #00aced;
}
