<script>
  import {
    Tile,
    Link,
    OutboundLink,
    StructuredList,
    StructuredListRow,
    StructuredListHead,
    StructuredListBody,
    StructuredListCell,
  } from 'carbon-components-svelte';
</script>

<svelte:head>
  <meta
    name="title"
    content="À Propos du Lexique dioula/dyula de Côte d'Ivoire"
  />
  <meta
    name="description"
    content="À propos du dictionnaire bilingue dioula/dyula français"
  />
  <link rel="canonical" href="https://dyu-lex.coastsystems.net/about" />
</svelte:head>

<Tile>
  <h2>A propos...</h2>
  <p class="paragraph">
    Ce document est un outil d'apprentissage de dioula de Côte d'Ivoire. À
    partir du 01 June 2022, Il contient 1228 entrées, avec 215 mots variants, et
    2322 phrases examples.
  </p>
  <p class="paragraph">
    Les tons sont pris dans l'ancien Lexqique du du dioula de Coulibaly Moussa,
    et HARAGUCHI Takehiko. D'autres éléments viennent de cours de dioula de
    Diarassouba Youssouf de mandenkan.com, et la population Julaphone de Côte
    d'Ivoire. Ce document ne prétend pas être une oeuvre d'érudition. C'est une
    oeuvre d'un étudiant de la langue Jula.
  </p>
  <p class="paragraph">
    La plupart de dictionnaires en langue dioula disponibles sont basés sur le
    bambara, ou le dioula de Burkina Faso. Ce document et veut ainsi offrir aux
    autres aprenants de dioula un angle 'ivoirien' sur cette langue. Ici vous
    trouverez des centaines d'examples de conversation courante et des proverbes
    du dioula de Côte d'ivoire, y compris des 'ya', 'le', 'do' et d'autres
    éléments propre au Jula de Côte d'ivoire. Le système d'orthographe est
    modérnisé, avec les centaines de morphologies alternatives indiquées qui
    permettant de rechercher les mots plus facilement. L'abréviation cf renvoie
    autant à des synonymes, que des mots apparentés pour comparaison.
  </p>

  <StructuredList>
    <StructuredListHead>
      <StructuredListRow>
        <StructuredListCell>Voir aussi:</StructuredListCell>
        <StructuredListCell>
          <p>
            <OutboundLink href="https://mandenkan.com/lexique/">
              Lexique du dioula de Côte d'Ivoire (mandenkan.com)
            </OutboundLink>
          </p>
          <p>
            <Link href="https://coastsystems.net/fr/docs/lexique-coul/">
              Lexique du dioula de Côte d'Ivoire (1993 COULIBALY Moussa)
            </Link>
          </p>
        </StructuredListCell>
      </StructuredListRow>
    </StructuredListHead>
  </StructuredList>
</Tile>
<!-- A venir: -->
<!---->
<!-- Cartes anki pour téléchargement -->
<!-- Index de recherche -->
<!-- hyperliens entres mots -->
<!---->

<Tile fullwidth>
  <StructuredList>
    <StructuredListBody>
      <StructuredListRow>
        <StructuredListCell>pd</StructuredListCell>
        <StructuredListCell>parti du discours</StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>pr</StructuredListCell><StructuredListCell
          >pronom
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>pr réfl</StructuredListCell><StructuredListCell>
          pronom réfléchi
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>s</StructuredListCell><StructuredListCell
          >singlulier
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>pl</StructuredListCell><StructuredListCell
          >pluriel
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>adj</StructuredListCell><StructuredListCell
          >adjectif
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>n</StructuredListCell><StructuredListCell
          >nom
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>v</StructuredListCell><StructuredListCell
          >verbe
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>vt</StructuredListCell><StructuredListCell
          >verbe transitif
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>vi</StructuredListCell><StructuredListCell
          >verbe intransitif
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>conn. verb.</StructuredListCell><StructuredListCell
          >connectif verbal</StructuredListCell
        >
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>postp.</StructuredListCell><StructuredListCell
          >postposition
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>mq asp.</StructuredListCell><StructuredListCell
          >marque d'aspect
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>mq include</StructuredListCell><StructuredListCell
          >marque de l'injonctif
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>
          conn synt compl</StructuredListCell
        ><StructuredListCell>connectif du systagme complétif</StructuredListCell
        >
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>mq en adj</StructuredListCell><StructuredListCell
          >marque d'énoncé adjectival
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>par emph</StructuredListCell><StructuredListCell
          >particule d'emphase
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>mq inact</StructuredListCell><StructuredListCell
          >marque d'inactuel
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>conn distrib.</StructuredListCell
        ><StructuredListCell
          >connectif du syntagme distributif
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>part phr.</StructuredListCell><StructuredListCell
          >particule phrastique
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>pr emph.</StructuredListCell><StructuredListCell
          >pronom emphatique
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>cop</StructuredListCell><StructuredListCell
          >copule
        </StructuredListCell>
      </StructuredListRow>

      <StructuredListRow>
        <StructuredListCell>fig</StructuredListCell><StructuredListCell
          >figurée
        </StructuredListCell>
      </StructuredListRow>
      <StructuredListRow>
        <StructuredListCell>empl idiom</StructuredListCell><StructuredListCell
          >emploi idiomatque
        </StructuredListCell>
      </StructuredListRow>
    </StructuredListBody>
  </StructuredList>
</Tile>

<Tile fullwidth>
  Ce site web static hébergé sur Gitlab est créé par
  <a href="https://coastsystems.net">Boyd Kelly</a> avec
  <a href="https://www.asciidoctor.org">Asciidoc</a>,
  <a href="http://kit.svelte.dev">Sveltekit</a>,
  <a href="https://carbondesignsystem.com/">Carbon Design</a>,
  <a href="http://neovim.io">neovim</a>
</Tile>

<Tile fullwidth>
  <iframe
    title="Contact"
    src="https://docs.google.com/forms/d/e/1FAIpQLSeSaw5q-3yyLxe8mH5WNYHDJ8TgUFOaQNzvJdXRx4SJdc-QmA/viewform?embedded=true"
    width="100%"
    height="1000"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
  ></iframe>
</Tile>
