<!-- Search.svelte -->
<script>
  import {
    Search,
    Tile,
    Row,
    Column,
    Tag,
    Toggle,
    StructuredList,
    StructuredListRow,
    StructuredListCell,
    StructuredListBody,
  } from 'carbon-components-svelte';
  import { goto } from '$app/navigation';
  import Fuse from 'fuse.js';
  //import index from '$lib/index2.json';
  import data from '$lib/data2.json';

  //export const removeAccents = (str) =>
  //  str.normalize('NFD').replace(/[\u0300-\u036F]/g, '');

  let results = [];
  let ref = null;
  let active = false;
  let value = '';

  let ignoreLocation = true;
  let location = 0;
  let threshold = 0;
  let distance = 0;
  let keys = ['h4NoDiacritics', 'h4Text', { name: 'spvText', weight: 3 }];
  //let keys = [];

  $: options = {
    ignoreLocation,
    location,
    threshold,
    distance,
    keys,
  };

  $: console.log('options1', options);

  //const idx = Fuse.parseIndex(index);
  $: fuse = new Fuse(data, options);

  const transformQuery = (query) => {
    const replacementRules = [
      [/^ny/g, 'ɲ'],
      [/^ny/g, 'ɲ'],
      [/'ò'/g, 'ɔ'],
      [/'è'/g, 'ɛ'],
    ];

    replacementRules.forEach((rule) => {
      query = query.replace(rule[0], rule[1]);
    });
    return query;
  };

  $: if (value) {
    //console.log('options', options);
    let valueRef = value;
    results = fuse.search(transformQuery(valueRef)).map((hits) => {
      ref = hits.item.h4Id;
      return {
        ref: hits.item.h4Id,
        h4Text: hits.item.h4Text,
        examples: hits.item.examples,
      };
    });
  } else {
    results = [];
  }

  const cleanup = () => {
    results = [];
    value = '';
  };

  const navigateToId = (id) => {
    goto(`#${id}`);
  };

  const vinput = (glyph) => {
    value = value + glyph;
    active = true;
    document.getElementById('search-input-dyu').focus();
  };

  const handleMode = (event) => {
    const modeIsChecked = event.detail.toggled;

    if (modeIsChecked) {
      location = 30;
      threshold = 0.1;
      distance = 1;
    } else {
      ignoreLocation = true;
      location = 0;
      threshold = 0;
      distance = 0;
    }
    cleanup();
    console.log('Toggle state:', modeIsChecked);
  };

  const handleScope = (event) => {
    const scopeIsChecked = event.detail.toggled;
    if (scopeIsChecked) {
      keys = ['h4NoDiacritics', 'examples'];
    } else {
      keys = [
        'h4Text',
        { name: 'h4NoDiacritics', weight: 1 },
        { name: 'spvText', weight: 3 },
      ];
    }
    cleanup();
    console.log('keys', keys);
    console.log('Toggle state:', scopeIsChecked);
  };
</script>

<Tile>
  <Row>
    <Column>
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ɛ')}>ɛ</Tag
      >
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ɔ')}>ɔ</Tag
      >
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ɲ')}>ɲ</Tag
      >
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ŋ')}>ŋ</Tag
      >
      <Search
        id="search-input-dyu"
        autofocus="true"
        placeholder="Ɲini..."
        bind:ref
        bind:active
        bind:value
        on:clear={cleanup}
      />
    </Column>
  </Row>
  <Row>
    <Column>
      <Toggle
        size="sm"
        labelA="Définitions"
        labelB="Exemples"
        {keys}
        on:toggle={(e) => handleScope(e)}
      />
    </Column>
  </Row>
  <Row>
    <StructuredList selection>
      <StructuredListBody>
        {#each results as result}
          <StructuredListRow on:click={() => navigateToId(result.ref)}>
            <StructuredListCell>
              {result.h4Text}
            </StructuredListCell>
            <StructuredListCell>
              {#each result.examples as example (example)}
                <p>{example}</p>
              {/each}
            </StructuredListCell>
          </StructuredListRow>
        {/each}
      </StructuredListBody>
    </StructuredList>
  </Row>
</Tile>
