<script>
  import { browser } from '$app/environment';
  import { HeaderGlobalAction, LocalStorage } from 'carbon-components-svelte';
  import Light from 'carbon-icons-svelte/lib/Light.svelte';
  import Moon from 'carbon-icons-svelte/lib/Moon.svelte';
  let toggled = false;
  $: if (browser) {
    document.documentElement.setAttribute('theme', toggled ? 'g80' : 'g10');
  }
</script>

<LocalStorage key="theme" bind:value={toggled} />

<HeaderGlobalAction
  id="appearance"
  iconDescription="Apparance"
  icon={toggled ? Moon : Light}
  on:click={() => (toggled = !toggled)}
/>
