<!-- Ui2.svelte -->
<script>
  import 'carbon-components-svelte/css/all.css';
  import {
    SkipToContent,
    Header,
    HeaderUtilities,
    HeaderSearch,
    HeaderGlobalAction,
    SideNav,
    SideNavLink,
    SideNavItems,
    SideNavDivider,
    Tag,
  } from 'carbon-components-svelte';
  import ThemeSwitch from '$lib/components/ThemeSwitch.svelte';
  import CharacterPatterns from 'carbon-icons-svelte/lib/CharacterPatterns.svelte';
  import { UpToTop } from 'carbon-icons-svelte';
  import { goto } from '$app/navigation';
  import Fuse from 'fuse.js';
  import index from '$lib/index.json';
  import data from '$lib/data.json';

  let isSideNavOpen = false;
  function SideNavLinkClick() {
    isSideNavOpen = false;
  }

  function vinput(glyph) {
    value = value + glyph;
    // console.log("value", value);
    active = true;
  }

  function transformQuery(query) {
    // Define your replacement rules in a concise format
    const replacementRules = [
      [/^ny/g, 'ɲ'],
      [/^ny/g, 'ɲ'],
      [/'ò'/g, 'ɔ'],
    ];
    // Apply each replacement rule to the search term
    replacementRules.forEach((rule) => {
      query = query.replace(rule[0], rule[1]);
    });
    // console.log("query", query);
    return query;
  }

  let results = [];
  let ref = null;
  let active = false;
  let value = '';
  let selectedResultIndex = 0;
  let events = [];

  const idx = Fuse.parseIndex(index);
  const options = {
    // isCaseSensitive: false,
    includeScore: true,
    // shouldSort: true,
    // includeMatches: false,
    findAllMatches: false,
    minMatchCharLength: 2,
    // location: 0,
    // threshold: 0.6,
    distance: 10,
    // useExtendedSearch: false,
    // ignoreLocation: false,
    // ignoreFieldNorm: false,
    // fieldNormWeight: 1,

    keys: ['h4Id'],
  };
  const fuse = new Fuse(data, options, idx);
  // console.log("new Fuse", fuse.getIndex().size());
  // console.log("search boro:", fuse.search("foro")); // or value
  $: valueRef = value;
  $: results = fuse.search(transformQuery(valueRef)).map((hits) => {
    // console.log("hits", hits);
    // console.log("h4", hits.item.h4Text);
    return {
      ref: '#' + hits.item.h4Id,
      text: hits.item.h4Text,
    };
  });

  // $: goto(results[selectedResultIndex].ref); // Get the ref of the selected result
  // $: console.log("results2:", results);
  // $: console.log("selectedResultIndex after function", selectedResultIndex);
</script>

<Header
  company=""
  platformName="Lexique dioula"
  id="header"
  href="/"
  bind:isSideNavOpen
  iconMenu={CharacterPatterns}
  persistentHamburgerMenu={true}
>
  <div slot="skip-to-content">
    <SkipToContent />
  </div>
  <HeaderUtilities>
    <div id="charmenu">
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ɛ')}>ɛ</Tag
      >
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ɔ')}>ɔ</Tag
      >
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ɲ')}>ɲ</Tag
      >
      <Tag
        size="sm"
        interactive="true"
        type="cool-gray"
        on:click={() => vinput('ŋ')}>ŋ</Tag
      >
    </div>
    <!-- <HeaderSearch -->
    <!--   bind:ref -->
    <!--   bind:active -->
    <!--   bind:value -->
    <!--   bind:selectedResultIndex -->
    <!--   placeholder="Rechercher..." -->
    <!--   {results} -->
    <!--   on:active={() => { -->
    <!--     events = [...events, { type: "active" }]; -->
    <!--     const charMenu = document.getElementById("charmenu"); -->
    <!--     // const header = document.getElementById("header"); -->
    <!--     //heder should display none at around 800px -->
    <!--     // header.style.display = "none"; -->
    <!--     charMenu.style.display = "flex"; -->
    <!--   }} -->
    <!--   on:inactive={() => { -->
    <!--     events = [...events, { type: "inactive" }]; -->
    <!--     const charMenu = document.getElementById("charmenu"); -->
    <!--     charMenu.style.display = "none"; -->
    <!--   }} -->
    <!--   on:clear={() => { -->
    <!--     events = [...events, { type: "clear" }]; -->
    <!--   }} -->
    <!--   on:select={(e) => { -->
    <!--     events = [...events, { type: "select", ...e.detail }]; -->
    <!--     goto(results[selectedResultIndex].ref); // Get the ref of the selected result -->
    <!--   }} -->
    <!-- /> -->
    <HeaderGlobalAction
      id="top"
      iconDescription="Retour en haut"
      kind="primary"
      icon={UpToTop}
      on:click={() => goto('#top')}
    />
    <ThemeSwitch />
  </HeaderUtilities>
</Header>

<SideNav bind:isOpen={isSideNavOpen}>
  <SideNavItems>
    <SideNavLink
      href="/dyu/"
      on:click={SideNavLinkClick}
      text="Lexique dioula"
    />
    <SideNavLink on:click={SideNavLinkClick} href="/about/" text="À propòs" />
    <SideNavDivider />
    <SideNavLink text="Navigation alphabétique" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_a" text="a" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_b" text="b" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_c" text="c" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_d" text="d" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_e" text="e" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_f" text="f" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_g" text="g" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_h" text="h" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_i" text="i" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_j" text="j" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_k" text="k" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_l" text="l" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_m" text="m" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_n" text="n" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_ɲ" text="ɲ" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_ŋ" text="ŋ" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_o" text="o" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_ɔ" text="ɔ" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_p" text="p" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_s" text="s" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_t" text="t" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_u" text="u" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_v" text="v" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_w" text="w" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_y" text="y" />
    <SideNavLink on:click={SideNavLinkClick} href="/dyu#_z" text="z" />
  </SideNavItems>
</SideNav>

<style lang="postcss">
</style>
