<script>
  import { onMount } from 'svelte';

  onMount(() => {
    const articles = document.querySelectorAll('article.dl');
    const limitedArticles = Array.from(articles).slice(0, 10);

    let definedTerms = [];

    limitedArticles.forEach((article) => {
      const dyulaTerm = article.querySelector('h4');
      const frenchDefinitionElements =
        article.querySelectorAll('ul.pos ul.def li');

      if (dyulaTerm) {
        const dyulaHeadword = dyulaTerm.textContent.trim();
        const frenchDefinition = Array.from(frenchDefinitionElements)
          .map((el) => el.textContent.trim())
          .join(' ');

        definedTerms.push({
          '@type': 'DefinedTerm',
          name: dyulaHeadword,
          description: frenchDefinition,
        });
      }
    });

    const definedTermSet = {
      '@context': 'https://schema.org',
      '@type': 'DefinedTermSet',
      name: 'Dyula-French Dictionary',
      url: 'https://dyu-lex.coastsystems.net/dyu',
      hasDefinedTerm: definedTerms,
    };

    const webPage = {
      '@context': 'https://schema.org',
      '@type': 'WebPage',
      name: "Lexique dioula de Côte d'Ivoire",
      description:
        'Découvrez mots et expressions dioula pour mieux comprendre et parler cette langue ivoirienne courante.',
      url: window.location.href,
      keywords: [
        'Dyula',
        'dioula',
        'jula',
        'mandenkan',
        'français',
        "Côte d'Ivoire",
        'lexique',
        'dictionnaire',
        'vocabulaire',
        'langue',
      ],
      author: {
        '@type': 'Person',
        name: 'Boyd Kelly',
      },
      publisher: {
        '@type': 'Organization',
        name: 'coastsystems.net',
      },
      mainEntity: definedTermSet,
    };

    const jsonLdScript = document.createElement('script');
    jsonLdScript.type = 'application/ld+json';
    jsonLdScript.textContent = JSON.stringify(webPage);
    document.head.appendChild(jsonLdScript);
  });
</script>

<slot />
