<script>
  import Dioula from './Dioula.svelte';
  import Search from '$lib/components/Search.svelte';
</script>

<svelte:head>
  <meta name="title" content="Lexique dioula de Côte d'Ivoire" />
  <meta name="description" content="dictionnaire bilingue dioula français" />
  <link rel="canonical" href="https://dyu-lex.coastsystems.net/dyu" />
</svelte:head>
<Search />
<Dioula />
